<style>
    @media  screen and (max-width: 640px) {
        .d-mobile-none{
            display:none;
        }
        #announcement-bar{
            font-size: 9px;
            padding: 4px 8px 4px 8px;
            margin : 4px;
        }
        .timer, .type-time{
        font-size: 8px;
    }
    #banner{
        margin-bottom: 10px;
    }
    #nav-bar
    {
            margin : 0 4px;
            padding: 0 4px ;
    }
    #hamburger
        {
            width: 19px;
            height: 8px;
        }
        .right-menu{
            display:flex;
            gap:8px;
        }
        .banner-title{
        font-size: 48px;
        margin-top : 36px;
        }
        .about-us-title{
     
     font-size:32px;
 }
 .about-us-img{
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:8px;
    }
 .img-about-us{
        width: 177px;
        height: 289px;
        background-size: cover; 
        background-position: center;
        border-radius: 16px;
    }
    .content-about-us{
        font-size: 14px;
        padding : 0 8px;
    }
    #introduction{
        width: 100%;
        margin-bottom: 10px;
        padding: 12px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 8px;
    }
    .introduction-content{
        padding : 29px;
        color: #1F1F1F;
      
    }
    .introduction-content h1{
        font-size : 32px;
        margin : 24px 0;
        line-height: 42px;
    }
    .introduction-content h4{
        font-size : 18px;
        margin : 12px 0;
        line-height: 30px;
     }

     .big-text-paragraph{
        font-size: 28px;
       
     }
     #text-paragraph{
        padding: 12px;
        margin-bottom:10px;
     }
     #product{
        width: 100%;
        height: 400px;
        margin-bottom: 500px;
        padding: 12px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 8px;
    }
    .product-grid{
         height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 60px;
        column-gap: 12px;
    }
    .product-big-img{
        width: auto;
        height: 400px;
        background-color: #F4F0EA;
        border-radius: 24px;
        background-size: cover; 
        background-position: center;
        
        background-image: url('{{ 'product-big-img.png' | asset_url }}');
    }
    .products-tag{
        display: flex;
        align-items: center;
        gap: 4px;
       
    }
    .tag{
        background-color: #FFFFFF;
        padding: 0px 4px;
        font-size: 9px;
        border-radius: 6px;
    }
    
    .product-color{
        display: none;
    }
    .product-price{
        margin:4px 0;
        /* padding:8px 12px; */
        padding-bottom: 12px;
        font-size:14px;
        position: relative;
    }
    #galerie{
        width: 100%;
        height: 345px;
        margin-bottom: 300px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: relative;
        overflow-x: hidden;
    }
    .galerie-main-image{
        width: auto;
        height: 345px;
        background-color: #F4F0EA;
      
        background-size: cover; 
        background-position: center;
        background-image: url('{{ 'galerie-main.png' | asset_url }}');
    }
    .galerie-items{
        padding: 24px;
        display: flex;
        gap:8px;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: -150%;
        left: 0;
        overflow: hidden;
    }
    .galerie-item{
        min-width: 245px;
        background-color: #F4F0EA;
        /* padding:16px; */
        border-radius: 16px;
        font-size: 16px;
        overflow: hidden;
    }
    .icon-galerie{
        margin : 32px 0;
        
    }
    .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 40px; */
  font-size: 14px;
  line-height: 22px;
}
     
  
    }   
    @media  screen and (min-width:641px) {
        #announcement-bar{
            font-size: 12px;
            padding: 4px 12px 4px 12px;
        }
        .timer{
            font-size: 14px;
        }
        .type-time{
            font-size: 10px;
    }
        #nav-bar{
            margin : 0 8px;
            padding: 0 8px;
            margin : 12px;
    }
        #hamburger{
            width: 25px;
            height: 8px;
        }
        .right-menu{
            display:flex;
            gap:16px;
        }
        .banner-title{
            font-size: 64px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #banner{
            margin-bottom: 50px;
        }
        .about-us-title{
     
        font-size:40px;
    }
    .about-us-img{
        padding: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:32px;
    }
    .img-about-us{
        width: 385px;
        height: 628px;
        background-size: cover; 
        background-position: center;
        border-radius: 16px;
    }
    .content-about-us{
        font-size: 16px;
    }
    #introduction{
        width: 100%;
        margin-bottom: 50px;
        padding: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    .introduction-content{
        padding : 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #1F1F1F
    }
    .introduction-content h1{
        font-size : 64px;
        margin : 24px 0;
        line-height: 74px;
    }
    .introduction-content h4{
        font-size : 20px;
        margin : 8px 0;
        line-height: 30px;
     }
     #text-paragraph{
        padding: 24px;
        margin-bottom:50px;
     }
     #product{
        width: 100%;
        height: 810px;
        margin-bottom: 50px;
        padding: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    .product-grid{
         height: 810px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 48px;
        column-gap: 8px;
    }
    .product-big-img{
        width: auto;
        height: 800px;
        background-color: #F4F0EA;
        border-radius: 24px;
        background-size: cover; 
        background-position: center;
        
        background-image: url('{{ 'product-big-img.png' | asset_url }}');
    }
    .products-tag{
        display: flex;
        align-items: center;
        gap: 10px;
       
    }
    .tag{
        background-color: #FFFFFF;
        padding: 4px 6px;
        font-size: 12px;
        border-radius: 6px;
    }
    
    .product-color{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5px;
    }
    .product-price{
        margin-top:4px;
        padding:8px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size:14px;
        position: relative;
    }
    #galerie{
        width: 100%;
        height: 533px;
        margin-bottom: 300px;
        padding-left: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }
    .galerie-main-image{
        width: auto;
        height: 533px;
        background-color: #F4F0EA;
        border-top-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background-size: cover; 
        background-position: center;
        background-image: url('{{ 'galerie-main.png' | asset_url }}');
    }
    .galerie-items{
        padding: 24px;
        display: flex;
        gap:20px;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: -50%;
        left: 0;
    }
    .galerie-item{
        
        
        background-color: #F4F0EA;
        padding:16px;
        border-radius: 16px;
    }
    .icon-galerie{
        margin : 32px 0;
        
    }
    .links {
  display: flex;
  gap: 40px;
  font-size: 14px;
  line-height: 22px;
}
    

    
    }   
    .pointer{
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul{
        list-style-type: none;
        padding:0
    }
    .text-center{
        text-align: center;
    }
    .lora {
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    #desktop-screen{
        width: 100%;
        margin:0;
        padding:0;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #banner{
        width: 100%;
        height: 883px;
        background-image: url('{{ 'banner_wgentech.jpg' | asset_url }}');
        background-size: cover; 
        background-position: center;
        padding: 12px;
        color: #FFFFFF;
        position: relative;
        
    }
    #announcement-bar{
        height: 36px;
        
        margin-bottom: 0;
        
        background-color: #1F1F1F;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .timer-container{
        display :flex;
        gap:4px;
        align-items: center;
    }
    .timer{
        display: flex;
        flex-direction: column;
        line-height: 1;
        text-align: center;
        
    }
   

    /* nav-bar */
    #nav-bar{
        background: transparent;
        display: grid;
        grid-template-columns: 1fr 100px 1fr;
        align-items: center;
    }
    .left-menu{
        display:flex;
        align-items: center;
        gap: 8px;
        font-size: 14px
    }
    .hamburger{
        width: 25px;
        height: 8px;
        border-top: solid 1px #FFFFFF;        
        border-bottom: solid 1px #FFFFFF;        
    }
    .right-menu{
        font-size: 14px;
      
        align-items: center;
        justify-content: flex-end;
    }
    .banner-title{
        text-align: center;
        line-height: 1.1;
    }
    /* special product */
    #about-us{
        width: 100%;
        margin-bottom: 50px;
    }
    .about-us-title{
        text-align: center;
       
    }
    
   
    .img-about-us-1{
      background-image: url('{{ 'img-about-us-1.png' | asset_url }}');
     }
    .img-about-us-2{
        background-image: url('{{ 'img-about-us-2.png' | asset_url }}');
    }
    .content-about-us{
        width: 100%;
        max-width: 810px;
        margin: 0 auto;
        
        line-height: 22px;
    }
    /* introduction */
 
    .introduction-item{
        width: auto;
        height: 800px;
        background-color: #F4F0EA;
        border-radius: 24px;
        background-size: cover; 
        background-position: center;
    }
    .introduction-img-1{
        background-image: url('{{ 'introduction-img-1.jpg' | asset_url }}');
    }
    .introduction-img-2{
        background-image: url('{{ 'introduction-img-2.png' | asset_url }}');
    }
    .introduction-content p{
        font-size : 14px;
        margin : 8px 0;
        line-height: 22px;
     }
    
     /* text-paragraph */
   
     .small-text-paragraph{
        font-size: 14px;
        line-height: 22px;
     }
     .big-text-paragraph{
        font-size: 32px;
        line-height: 44px;
     }
     /* product */
.product-container{
        padding: 8px 0;
        border-radius: 10px;
        background-size:contain; 
        background-position: center;
        background-color: #F0F2EF;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
    }

    .product-1{
        max-height: 340px;
        width: auto;
        height: 100%;
        background-image: url('{{ 'product-1.jpg' | asset_url }}');
    }
    .product-2{
        max-height: 340px;
        width: auto;
        height: 100%;
        background-image: url('{{ 'product-2.png' | asset_url }}');
    }
    .product-3{
        max-height: 340px;
        background-size:cover; 
        width: auto;
        height: 100%;
        background-image: url('{{ 'product-3.jpg' | asset_url }}');
    }
    .product-4{
        max-height: 340px;
        width: auto;
        height: 100%;
        background-image: url('{{ 'product-4.png' | asset_url }}');
    }
    .product-head{
        padding: 8px 12px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
   
  
    .color{
        padding: 4px;
        width: 8px;
        height: 8px;
        border-radius: 1000px;
        cursor: pointer;
    }
    .color-1{
        background-color: #A8A687;
    }
    .color-2{
        background-color: #C7A07C;
    }
    .color-3{
        background-color: #D6E1EB;
    }
    .color-4{
        background-color: #285E8F;
    }
    .color-text{
        font-size: 12px;
        color: #797E7E;
    }
    /* galerie */
  
    .galerie-text{
        justify-content: center;
    }
  
  
   
   
 
    .swiper {
        width:100%;
        height: 800px;
        margin-bottom: 50px;
    }
    .swiper-slide{
        padding: 0 0 24px 24px;
        color: white;
        height: 100%;
        background-size: cover; 
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 16px;
    }
    .swiper-slide h2{
        font-size: 32px;
        margin: 0;
        color: white;
    }
    .swiper-slide span{
        font-size: 14px;
        text-decoration: underline;
        margin-bottom: 24px;
    }
    .slide-1{
        background-image: url('{{ 'slider-1.jpg' | asset_url }}');
        width: 30%;
    }
    
    .slide-2{
        background-image: url('{{ 'slider-2.jpg' | asset_url }}')
    }
    
    .slide-3{
        background-image: url('{{ 'slider-3.png' | asset_url }}')
    }
    
    .slide-4{
        background-image: url('{{ 'slider-4.jpg' | asset_url }}')
    }
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    .swiper-button-prev , .swiper-button-next{
        color: white;
    }
    /* footer */
    .footer {
  padding: 40px;
  background-color: #F4F0EA;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.info {
  max-width: 300px;
 
}
.info p{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.newsletter h4 {
  margin-bottom: 10px;
}

.subscribe-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

.subscribe-btn:hover {
  background-color: #444;
}

.social-icons a {
  margin-right: 10px;
}



.links div {
  min-width: 150px;
}

.links h4 {
  margin-bottom: 10px;
}

.links ul {
  list-style-type: none;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-switch a {
  text-decoration: none;
  margin-right: 10px;
  color: #333;
}

.language-switch a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom a {
  text-decoration: none;
  color: #333;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
</style>
<section id="desktop-screen">
    <div id="banner">
        <div id="announcement-bar">
            <span>FREE SHIPPING · COUPON: FREE. <span class="d-mobile-none">Exchanges and returns within 30 days.</span></span>
            <div class="timer-container">
           
            </div>
        </div>
        <div id="nav-bar">
                <div class="left-menu pointer">
                    <div class="hamburger"> </div>
                    <span >MENU</span>
                </div>
                <div style="font-size: 24px" class="pointer">Orangy</div>
                <div class="right-menu">
                    <svg class="pointer d-mobile-none" width="15" height="15" fill="none" class="icon icon-search" viewBox="0 0 18 19"><path fill="currentColor" fill-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 1 1 2.85 3.5a5.784 5.784 0 0 1 8.18 8.18m.26 1.12a6.78 6.78 0 1 1 .72-.7l5.4 5.4a.5.5 0 1 1-.71.7z" clip-rule="evenodd"/></svg>
                    <div class="pointer d-mobile-none">SEARCH</div>
                    <div class="pointer d-mobile-none">LOGIN</div>
                    <div class="pointer">BAG</div>
                    <div class="pointer">(0)</div>
                </div>
        </div>
        <div class="banner-title lora"> Quis aliqua reprehenderit <br> excepteur et dolore </div>
    </div>
    <div id="about-us">
        <div class="lora about-us-title">Lorem ullamco</div>
        <div class="about-us-img">
            <div class="img-about-us img-about-us-1"> </div>
            <div class="img-about-us img-about-us-2"> </div>
        </div>
        <div class="content-about-us text-center ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur eiusmod consectetur proident Lorem reprehenderit esse do anim velit in aliquip dolore ut officia. Consectetur reprehenderit proident do exercitation eu. Sunt fugiat pariatur elit est laboris quis. Esse mollit incididunt quis amet. Qui non irure incididunt laborum nisi cillum consequat aliquip aliquip cillum in. Ut excepteur labore voluptate tempor cupidatat dolor eiusmod do ipsum Lorem cupidatat do labore.<br><br>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.
        </div>
    </div>
    <div id="introduction">
        <div class=" introduction-img-1"> </div>
        <div class="introduction-item introduction-content">
            <h1 class="">Lorem ipsum</h1>
            <h4 class="">Excepteur eiusmod consectetur</h4>
            <p class="">Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
            <h4 class="">Quis aliqua reprehenderit</h4>
            <p class="">Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
            <h4 class="">Ad sit cillum amet duis quis commodo</h4>
            <p class="">Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
        </div>
        <div class="introduction-item introduction-content ">
            <h1 class="">Mollit aliquip do<br> ipsum consectetur</h1>
            <p>Ex laborum ea qui consectetur mollit commodo eiusmod culpa dolor cupidatat. Ullamco dolore irure ea sit elit velit non officia. Ad eu reprehenderit in et voluptate mollit. Reprehenderit incididunt magna consequat enim sit eiusmod est dolor laborum cupidatat.<br><br>Ipsum minim mollit irure dolore. Sint fugiat deserunt dolor aute enim et cillum adipisicing cillum nostrud anim. Sit dolore incididunt dolore do sunt pariatur consectetur id qui pariatur eu incididunt adipisicing. Irure sint fugiat officia veniam consectetur. Esse laborum amet aliqua ad in sunt labore duis.</p>
        </div>
        <div class="introduction-item introduction-img-2"> </div>
    </div>
    <div id="text-paragraph">
        <p class="small-text-paragraph">Aute duis sunt aliqua enim enim Lorem reprehenderit proident aliquip voluptate<br> aliqua. Eiusmod labore officia minim laborum nostrud cupidatat.</p>
        <p class="big-text-paragraph">Nisi culpa voluptate eiusmod ullamco aliquip tempor elit sunt irure in excepteur dolore. Do<br> eu eu officia voluptate veniam consequat veniam adipisicing dolor incididunt deserunt<br> eiusmod amet. Sint veniam officia qui id consequat Lorem non consectetur commodo anim<br> eiusmod nisi ipsum ut. Aliqua in dolore esse reprehenderit Lorem cillum </p> 
    </div>
    <div id="product">
        <div class=" product-big-img"> </div>
        <div class="product-grid">
            <div class="container-product">
                <div class="product-container product-1">
                    <div class="product-head">
                        <div class="products-tag">
                            <div class="tag">New</div>
                            <div class="tag">Sale</div>
                        </div>
                        <svg class="pointer" width="16" height="14" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-heart" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 5.24 8.515 3.773a4.433 4.433 0 0 0-6.21 0 4.293 4.293 0 0 0 0 6.128L10 17.495l7.695-7.593a4.293 4.293 0 0 0 0-6.128 4.433 4.433 0 0 0-6.21 0zm.765-2.177c2.113-2.084 5.538-2.084 7.65 0a5.29 5.29 0 0 1 0 7.55l-7.695 7.593a1.03 1.03 0 0 1-1.44 0l-7.696-7.594a5.29 5.29 0 0 1 0-7.549C3.697.98 7.122.98 9.234 3.063l.766.755z"/></svg>

                    </div>
                    <div class="product-color">
                        <div class="color color-1"> </div>
                        <div class="color color-2"> </div>
                        <div class="color color-3"> </div>
                        <div class="color color-4"> </div>
                        <span class="color-text">+ 4color</span>
                    </div>
                </div>
                <div class="product-price">
                    <div class="pointer">Lorem ullamco</div>
                    <span>17,99€</span>
                </div>
            </div>
            <div class="container-product">
                <div class="product-container product-2">
                    <div class="product-head">
                        <div class="products-tag">
                            <div class="tag">New</div>
                            <div class="tag">Sale</div>
                        </div>
                        <svg class="pointer" width="16" height="14" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-heart" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 5.24 8.515 3.773a4.433 4.433 0 0 0-6.21 0 4.293 4.293 0 0 0 0 6.128L10 17.495l7.695-7.593a4.293 4.293 0 0 0 0-6.128 4.433 4.433 0 0 0-6.21 0zm.765-2.177c2.113-2.084 5.538-2.084 7.65 0a5.29 5.29 0 0 1 0 7.55l-7.695 7.593a1.03 1.03 0 0 1-1.44 0l-7.696-7.594a5.29 5.29 0 0 1 0-7.549C3.697.98 7.122.98 9.234 3.063l.766.755z"/></svg>

                    </div>
                    <div class="product-color">
                        <div class="color color-1"> </div>
                        <div class="color color-2"> </div>
                        <div class="color color-3"> </div>
                        <div class="color color-4"> </div>
                        <span class="color-text">+ 4color</span>
                    </div>
                </div>
                <div class="product-price">
                    <div class="pointer">Lorem ullamco</div>
                    <span>17,99€</span>
                </div>
            </div>
            <div class="container-product">
                <div class="product-container product-3">
                    <div class="product-head">
                        <div class="products-tag">
                            <div class="tag">New</div>
                            <div class="tag">Sale</div>
                        </div>
                        <svg class="pointer" width="16" height="14" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-heart" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 5.24 8.515 3.773a4.433 4.433 0 0 0-6.21 0 4.293 4.293 0 0 0 0 6.128L10 17.495l7.695-7.593a4.293 4.293 0 0 0 0-6.128 4.433 4.433 0 0 0-6.21 0zm.765-2.177c2.113-2.084 5.538-2.084 7.65 0a5.29 5.29 0 0 1 0 7.55l-7.695 7.593a1.03 1.03 0 0 1-1.44 0l-7.696-7.594a5.29 5.29 0 0 1 0-7.549C3.697.98 7.122.98 9.234 3.063l.766.755z"/></svg>

                    </div>
                    <div class="product-color">
                        <div class="color color-1"> </div>
                        <div class="color color-2"> </div>
                        <div class="color color-3"> </div>
                        <div class="color color-4"> </div>
                        <span class="color-text">+ 4color</span>
                    </div>
                </div>
                <div class="product-price">
                    <div class="pointer">Lorem ullamco</div>
                    <span>17,99€</span>
                </div>
            </div>
            <div class="container-product">
                <div class="product-container product-4">
                    <div class="product-head">
                        <div class="products-tag">
                            <div class="tag">New</div>
                            <div class="tag">Sale</div>
                        </div>
                        <svg class="pointer" width="16" height="14" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-heart" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 5.24 8.515 3.773a4.433 4.433 0 0 0-6.21 0 4.293 4.293 0 0 0 0 6.128L10 17.495l7.695-7.593a4.293 4.293 0 0 0 0-6.128 4.433 4.433 0 0 0-6.21 0zm.765-2.177c2.113-2.084 5.538-2.084 7.65 0a5.29 5.29 0 0 1 0 7.55l-7.695 7.593a1.03 1.03 0 0 1-1.44 0l-7.696-7.594a5.29 5.29 0 0 1 0-7.549C3.697.98 7.122.98 9.234 3.063l.766.755z"/></svg>

                    </div>
                    <div class="product-color">
                        <div class="color color-1"> </div>
                        <div class="color color-2"> </div>
                        <div class="color color-3"> </div>
                        <div class="color color-4"> </div>
                        <span class="color-text">+ 4color</span>
                    </div>
                </div>
                <div class="product-price">
                    <div class="pointer">Lorem ullamco</div>
                    <span>17,99€</span>
                </div>
            </div>
          
        </div>
    </div>
   <div id="galerie">
        <div class="introduction-content galerie-text">
            <h1>Ipsum minim<br> mollit irure</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Est congue ultrices sem id aliquam et diam ultricies rhoncus. Purus rhoncus volutpat cum scelerisque. Orci proin neque nec lacinia gravida. Quis enim nibh rutrum.</p>
        </div>
        <div class="galerie-main-image"> </div>
        <div class="galerie-items">
            <div class="galerie-item">
                <div class="text-center icon-galerie">
                    <svg width class="pointer"="43.96" height="73.36" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-leaf" viewBox="0 0 20 20"><path d="M18.63.085c.291.058.627.167.869.398.25.24.363.581.421.873.062.307.08.648.08.97a14 14 0 0 1-.099 1.443l-.012.11v.006a67 67 0 0 1-.633 4.278c-.298 1.612-.694 3.382-1.214 4.954v.003c-.502 1.494-1.207 3.11-2.254 4.158-3.607 3.612-9.47 3.639-13.081.024-3.61-3.616-3.584-9.487.023-13.099C3.777 3.155 5.378 2.45 6.884 1.946h.001c1.57-.52 3.325-.917 4.948-1.215a66 66 0 0 1 4.273-.634h.005l.038-.005A14 14 0 0 1 17.665 0c.32.003.66.024.966.085m-2.41 1.018c-1.106.13-2.61.33-4.204.623-1.6.294-3.304.68-4.813 1.18-1.478.494-2.886 1.14-3.758 2.013C.229 8.14.209 13.37 3.421 16.586s8.436 3.196 11.652-.024c.871-.872 1.517-2.293 2.01-3.764.499-1.51.885-3.228 1.179-4.818a66 66 0 0 0 .635-4.327c.035-.314.09-.824.092-1.33 0-.289-.017-.554-.06-.767-.046-.229-.106-.32-.129-.341-.03-.03-.134-.09-.367-.137a4.3 4.3 0 0 0-.775-.066 13 13 0 0 0-1.408.088z"/><path d="M19.43.502a.507.507 0 0 1-.004.715L.861 19.617a.505.505 0 1 1-.711-.72L18.715.498a.505.505 0 0 1 .715.004"/><path d="M5.623 2.477h.505v11.19h11.268v.505H5.623z"/><path d="M10.188 1.188h.505v7.96h8.091v.505h-8.596z"/></svg>
                </div>
                <div class="galerie-item-text">
                    Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.
                </div>
            </div>
            <div class="galerie-item">
                <div class="text-center icon-galerie">
                    <svg width="43.96" height="73.36" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-leaf" viewBox="0 0 20 20"><path d="M18.63.085c.291.058.627.167.869.398.25.24.363.581.421.873.062.307.08.648.08.97a14 14 0 0 1-.099 1.443l-.012.11v.006a67 67 0 0 1-.633 4.278c-.298 1.612-.694 3.382-1.214 4.954v.003c-.502 1.494-1.207 3.11-2.254 4.158-3.607 3.612-9.47 3.639-13.081.024-3.61-3.616-3.584-9.487.023-13.099C3.777 3.155 5.378 2.45 6.884 1.946h.001c1.57-.52 3.325-.917 4.948-1.215a66 66 0 0 1 4.273-.634h.005l.038-.005A14 14 0 0 1 17.665 0c.32.003.66.024.966.085m-2.41 1.018c-1.106.13-2.61.33-4.204.623-1.6.294-3.304.68-4.813 1.18-1.478.494-2.886 1.14-3.758 2.013C.229 8.14.209 13.37 3.421 16.586s8.436 3.196 11.652-.024c.871-.872 1.517-2.293 2.01-3.764.499-1.51.885-3.228 1.179-4.818a66 66 0 0 0 .635-4.327c.035-.314.09-.824.092-1.33 0-.289-.017-.554-.06-.767-.046-.229-.106-.32-.129-.341-.03-.03-.134-.09-.367-.137a4.3 4.3 0 0 0-.775-.066 13 13 0 0 0-1.408.088z"/><path d="M19.43.502a.507.507 0 0 1-.004.715L.861 19.617a.505.505 0 1 1-.711-.72L18.715.498a.505.505 0 0 1 .715.004"/><path d="M5.623 2.477h.505v11.19h11.268v.505H5.623z"/><path d="M10.188 1.188h.505v7.96h8.091v.505h-8.596z"/></svg>
                </div>
                <div class="galerie-item-text">
                    Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.
                </div>
            </div>
            <div class="galerie-item">
                <div class="text-center icon-galerie" >
                    <svg width="43.96" height="73.36" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-leaf" viewBox="0 0 20 20"><path d="M18.63.085c.291.058.627.167.869.398.25.24.363.581.421.873.062.307.08.648.08.97a14 14 0 0 1-.099 1.443l-.012.11v.006a67 67 0 0 1-.633 4.278c-.298 1.612-.694 3.382-1.214 4.954v.003c-.502 1.494-1.207 3.11-2.254 4.158-3.607 3.612-9.47 3.639-13.081.024-3.61-3.616-3.584-9.487.023-13.099C3.777 3.155 5.378 2.45 6.884 1.946h.001c1.57-.52 3.325-.917 4.948-1.215a66 66 0 0 1 4.273-.634h.005l.038-.005A14 14 0 0 1 17.665 0c.32.003.66.024.966.085m-2.41 1.018c-1.106.13-2.61.33-4.204.623-1.6.294-3.304.68-4.813 1.18-1.478.494-2.886 1.14-3.758 2.013C.229 8.14.209 13.37 3.421 16.586s8.436 3.196 11.652-.024c.871-.872 1.517-2.293 2.01-3.764.499-1.51.885-3.228 1.179-4.818a66 66 0 0 0 .635-4.327c.035-.314.09-.824.092-1.33 0-.289-.017-.554-.06-.767-.046-.229-.106-.32-.129-.341-.03-.03-.134-.09-.367-.137a4.3 4.3 0 0 0-.775-.066 13 13 0 0 0-1.408.088z"/><path d="M19.43.502a.507.507 0 0 1-.004.715L.861 19.617a.505.505 0 1 1-.711-.72L18.715.498a.505.505 0 0 1 .715.004"/><path d="M5.623 2.477h.505v11.19h11.268v.505H5.623z"/><path d="M10.188 1.188h.505v7.96h8.091v.505h-8.596z"/></svg>
                </div>
                <div class="galerie-item-text">
                    Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.
                </div>
            </div>
            <div class="galerie-item">
                <div class="text-center icon-galerie">
                    <svg width="43.96" height="73.36" xmlns="http://www.w3.org/2000/svg" class="icon icon-accordion icon-leaf" viewBox="0 0 20 20"><path d="M18.63.085c.291.058.627.167.869.398.25.24.363.581.421.873.062.307.08.648.08.97a14 14 0 0 1-.099 1.443l-.012.11v.006a67 67 0 0 1-.633 4.278c-.298 1.612-.694 3.382-1.214 4.954v.003c-.502 1.494-1.207 3.11-2.254 4.158-3.607 3.612-9.47 3.639-13.081.024-3.61-3.616-3.584-9.487.023-13.099C3.777 3.155 5.378 2.45 6.884 1.946h.001c1.57-.52 3.325-.917 4.948-1.215a66 66 0 0 1 4.273-.634h.005l.038-.005A14 14 0 0 1 17.665 0c.32.003.66.024.966.085m-2.41 1.018c-1.106.13-2.61.33-4.204.623-1.6.294-3.304.68-4.813 1.18-1.478.494-2.886 1.14-3.758 2.013C.229 8.14.209 13.37 3.421 16.586s8.436 3.196 11.652-.024c.871-.872 1.517-2.293 2.01-3.764.499-1.51.885-3.228 1.179-4.818a66 66 0 0 0 .635-4.327c.035-.314.09-.824.092-1.33 0-.289-.017-.554-.06-.767-.046-.229-.106-.32-.129-.341-.03-.03-.134-.09-.367-.137a4.3 4.3 0 0 0-.775-.066 13 13 0 0 0-1.408.088z"/><path d="M19.43.502a.507.507 0 0 1-.004.715L.861 19.617a.505.505 0 1 1-.711-.72L18.715.498a.505.505 0 0 1 .715.004"/><path d="M5.623 2.477h.505v11.19h11.268v.505H5.623z"/><path d="M10.188 1.188h.505v7.96h8.091v.505h-8.596z"/></svg>
                </div>
                <div class="galerie-item-text">
                    Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.
                </div>
            </div>
          
        </div>
    </div> 
    <!-- Slider main container -->
     <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide slide-1">
        <h2>Aute duis</h2>
        <span>SEE PRODUCTS</span>
      </div>
      <div class="swiper-slide slide-2">
        <h2>Proident</h2>
        <span>SEE PRODUCTS</span>
      </div>
      <div class="swiper-slide slide-3">
        <h2>Aliqua</h2>
        <span>SEE PRODUCTS</span>
      </div>
      <div class="swiper-slide slide-4">
        <h2>Aute duis</h2>
        <span>SEE PRODUCTS</span>
      </div>
      
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"> </div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"> </div>
    <div class="swiper-button-next"> </div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollar"> </div> 
  </div>
    </div> 
    <div class="footer">
        <div class="footer-top">
      <div class="info">
        <p>Free shipping on orders over €50</p>
        <p>2-year product warranty</p>
        <p>30-day returns</p>

        <div class="newsletter">
          <h4>Join our Newsletter</h4>
          <p>Be the first to find out about news and exclusive offers from Orangy</p>
          <button class="subscribe-btn">SUBSCRIBE</button>
        </div>

        <div class="social-icons">
          <a href="#"><svg width="16" height="16" class="icon icon-youtube" viewBox="0 0 20 20"><path fill="currentColor" d="M18.16 5.87c.34 1.309.34 4.08.34 4.08s0 2.771-.34 4.08a2.13 2.13 0 0 1-1.53 1.53c-1.309.34-6.63.34-6.63.34s-5.321 0-6.63-.34a2.13 2.13 0 0 1-1.53-1.53c-.34-1.309-.34-4.08-.34-4.08s0-2.771.34-4.08a2.17 2.17 0 0 1 1.53-1.53C4.679 4 10 4 10 4s5.321 0 6.63.34a2.17 2.17 0 0 1 1.53 1.53M8.3 12.5l4.42-2.55L8.3 7.4z"/></svg>
          </a>
          <a href="#"><svg width="16" height="16" class="icon icqon-instagram" viewBox="0 0 20 20"><path fill="currentColor" fill-rule="evenodd" d="M13.23 3.492c-.84-.037-1.096-.046-3.23-.046-2.144 0-2.39.01-3.238.055-.776.027-1.195.164-1.487.273a2.4 2.4 0 0 0-.912.593 2.5 2.5 0 0 0-.602.922c-.11.282-.238.702-.274 1.486-.046.84-.046 1.095-.046 3.23s.01 2.39.046 3.229c.004.51.097 1.016.274 1.495.145.365.319.639.602.913.282.282.538.456.92.602.474.176.974.268 1.479.273.848.046 1.103.046 3.238.046s2.39-.01 3.23-.046c.784-.036 1.203-.164 1.486-.273.374-.146.648-.329.921-.602.283-.283.447-.548.602-.922.177-.476.27-.979.274-1.486.037-.84.046-1.095.046-3.23s-.01-2.39-.055-3.229c-.027-.784-.164-1.204-.274-1.495a2.4 2.4 0 0 0-.593-.913 2.6 2.6 0 0 0-.92-.602c-.284-.11-.703-.237-1.488-.273ZM6.697 2.05c.857-.036 1.131-.045 3.302-.045a63 63 0 0 1 3.302.045c.664.014 1.321.14 1.943.374a4 4 0 0 1 1.414.922c.41.397.728.88.93 1.414.23.622.354 1.279.365 1.942C18 7.56 18 7.824 18 10.005c0 2.17-.01 2.444-.046 3.292-.036.858-.173 1.442-.374 1.943-.2.53-.474.976-.92 1.423a3.9 3.9 0 0 1-1.415.922c-.51.191-1.095.337-1.943.374-.857.036-1.122.045-3.302.045-2.171 0-2.445-.009-3.302-.055-.849-.027-1.432-.164-1.943-.364a4.15 4.15 0 0 1-1.414-.922 4.1 4.1 0 0 1-.93-1.423c-.183-.51-.329-1.085-.365-1.943C2.009 12.45 2 12.167 2 10.004c0-2.161 0-2.435.055-3.302.027-.848.164-1.432.365-1.942a4.4 4.4 0 0 1 .92-1.414 4.2 4.2 0 0 1 1.415-.93c.51-.183 1.094-.33 1.943-.366Zm.427 4.806a4.105 4.105 0 1 1 5.805 5.805 4.105 4.105 0 0 1-5.805-5.805m1.882 5.371a2.668 2.668 0 1 0 2.042-4.93 2.668 2.668 0 0 0-2.042 4.93m5.922-5.942a.958.958 0 1 1-1.355-1.355.958.958 0 0 1 1.355 1.355" clip-rule="evenodd"/></svg>
          </a>
          <a href="#"><svg width="16" height="16" class="icon icon-twitter" viewBox="0 0 20 20"><path fill="currentColor" fill-rule="evenodd" d="M7.273 2.8 10.8 7.822 15.218 2.8h1.768l-5.4 6.139 5.799 8.254h-4.658l-3.73-5.31-4.671 5.31H2.558l5.654-6.427L2.615 2.8zm6.242 13.125L5.07 4.109h1.405l8.446 11.816z" clip-rule="evenodd"/></svg>
          </a>
          <a href="#"><svg width="16" height="16" class="icon icon-facebook" viewBox="0 0 20 20"><path fill="currentColor" d="M18 10.049C18 5.603 14.419 2 10 2s-8 3.603-8 8.049C2 14.067 4.925 17.396 8.75 18v-5.624H6.719v-2.328h2.03V8.275c0-2.017 1.195-3.132 3.023-3.132.874 0 1.79.158 1.79.158v1.98h-1.009c-.994 0-1.303.621-1.303 1.258v1.51h2.219l-.355 2.326H11.25V18c3.825-.604 6.75-3.933 6.75-7.951"/></svg>
          </a>
        </div>
      </div>

      <div class="links">
        <div>
          <h4>Lorem Ipsum</h4>
          <ul>
            <li>Nisi culpa</li>
            <li>Voluptate</li>
            <li>Aute duis</li>
            <li>Lorem ullamco</li>
          </ul>
        </div>

        <div>
          <h4>Company</h4>
          <ul>
            <li>About Us</li>
            <li>Our commitment</li>
            <li>#Orangy</li>
            <li>Inspiration</li>
          </ul>
        </div>

        <div>
          <h4>Contact</h4>
          <ul>
            <li>Where to find us</li>
            <li>Customer Service</li>
            <li>Open your franchise</li>
            <li>Whistleblower channel</li>
          </ul>
        </div>
      </div>
        </div>

        <div class="footer-bottom">
      <div class="language-switch">
        <a href="#">GERMAN (€)</a> | 
        <a href="#">VIETNAMESE (₫)</a>
      </div>
      <p>© Orangy | <a href="#" style="color : #797E7E">Privacy Policy</a> | <a href="#" style="color : #797E7E">Cookie Policy</a> | <a href="#" style="color : #797E7E">Legal Notice</a></p>
        </div>
    </div> 

</section>
<script>
    function startTimer() {
        const endTime = new Date("October 31, 2024 23:59:59").getTime();
        const timerContainer = document.querySelector('.timer-container');
        
        setInterval(function() {
            const now = new Date().getTime();
            const timeLeft = endTime - now;

            const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

            timerContainer.innerHTML = `
                <div class="timer">
                    <div>${days < 10 ? '0' + days : days}</div>
                    <div class="type-time">days</div>
                </div>
                <div>:</div>
                <div class="timer">
                    <div>${hours < 10 ? '0' + hours : hours}</div>
                    <div class="type-time">hours</div>
                </div>
                <div>:</div>
                <div class="timer">
                    <div>${minutes < 10 ? '0' + minutes : minutes}</div>
                    <div class="type-time">min</div>
                </div>
                <div>:</div>
                <div class="timer">
                    <div>${seconds < 10 ? '0' + seconds : seconds}</div>
                    <div class="type-time">sec</div>
                </div>`;
        }, 1000);
    }

    window.onload = startTimer;
</script>
<script>
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
  breakpoints: {
    640: {
      slidesPerView: 1,
      spaceBetween: 10,
    },
    768: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    1024: {
      slidesPerView: 3,
      spaceBetween: 30,
    },
  },
  autoplay: {
  delay: 2500,
  disableOnInteraction: false,
}

});
</script>